* {
    box-sizing: border-box;
}
body {
    margin: 0px 20px 0px 20px;
}

header {
    background-color: rgb(216, 137, 216);
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 200px 50px;
    width: 100%;
    justify-items: center;
    align-items: center;
}
.brand {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
}
.brand-name {
    font-family: 'Sacramento', cursive;
    color: white;
    font-size: 40px;
    margin: 10px;
}
.brand-logo {
    width: 100%;
    max-width: 100px;
    height: auto;
  }
.header-nav {
    grid-column: 1/2;
    grid-row: 2/3;
    font-family: 'Oswald', sans-serif;
}
.header-tools {
    grid-column: 2/3;
    grid-row: 2/3;
}
.ul-navlist {
    padding: 0;
}
.navlist {
    display: inline;
    padding: 0px 10px 0px 10px;
    font-size: 15px;
}


/* section {
    background-color: rgb(216, 137, 216);
} */
.hero-feature {
    font-family: 'Open Sans', sans-serif;
    text-align: center; 
    margin: 10px 0px 0px 0px;
    padding: 10px;
    background-color: rgb(216, 137, 216);
    color: white;
}

.skat-katalogu {
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    text-align: center;
    font-size: 30px;
    border: 5px;
    margin: 5px;
}
.hero-action {
    margin: 10px 0px 10px 0px;
    border: 5px;
    padding: 10px;
    background-color: rgb(216, 137, 216);
}
.button1 {
    background-color: rgb(253, 85, 103);
    border: none;
    color: rgb(255, 220, 131);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .rekl1 {
      width: 100%;
      display: block;
      margin: auto;
      padding: 10px;
      border: 5px solid red;
  }
  .article-feature {
      font-family: 'Open Sans', sans-serif;
      color: white;
  }
  .article-listing {
    font-family: 'Open Sans', sans-serif;
    color: white;
  }
  main {
      background-color: rgb(216, 137, 216);
      padding: 10px;
  }
  footer {
      display: flex;
      background-color: rgb(216, 137, 216);
      color: white;
      padding: 10px;
      justify-content: space-between;
  }
  .follow-logo {
      width: 30px;
  }
  

@media screen and (min-width: 576px) {
    .hero-feature {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .hero-feature {
        display: none;
    }
    header {
        display: block;
    }
    .navlist {
        display: block;
        width: 100%;
        cursor: pointer;
        padding: 10px 24px;
        color: white;
        border: 1px solid black;
        background-color: rgb(253, 85, 103);
        text-align: center;
    }
    .navlist:hover {
        background-color: rgb(212, 68, 68);
    }
    .ul-navlist {
        color: rgb(255, 220, 131);
    }
    .navlist-item {
        color: rgb(255, 220, 131);
        text-decoration: none;
    }
    .header-tools {
        text-align: center;
        padding: 10px;
    }
    .brand {
        text-align: center;
        padding: 20px 0px 0px 5px;
    }
}
