* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

header {
    background-color: pink;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 50px;
    width: 100%;
    justify-items: center;
    align-items: center;
}
.brand {
    grid-column: 1/3;
    grid-row: 1/2;
    align-items: center;
}
.brand-name {
    font-family: 'Sacramento', cursive;
    color: white;
    font-size: 40px;
    margin: 10px;
}
.brand-logo {
    width: 120px;
    height: 120px;
    
}
.header-nav {
    font-family: 'Oswald', cursive;
    grid-column: 1/2;
    grid-row: 2/3;
}
.header-tools {
    grid-column: 2/3;
    grid-row: 2/3;
}
li {
    display: inline;
}


section {
    background-color: plum;
}
